to process some of the data types in csv 
or any other the data type should be changed

for example in homeData.csv file the time column is in string formart as shown below

In [2]:
import pandas as pd


df=pd.read_csv('homeData.csv')
print(type(df.time[0]))

<class 'str'>

so to solve this issue we will convert the time column as date/time

In [13]:
df=pd.read_csv('homeData.csv',parse_dates=['time'])
print(type(df.time[0]))
df.set_index('time',inplace=True)

<class 'pandas._libs.tslibs.timestamps.Timestamp'>

successful created

In [14]:
df

,dhi_pyr,ghi_pyr_1,ghi_pyr_2,air_temperature,relative_humidity,barometric_pressure,precipitation,wind_speed,wind_from_direction,gti_clean,gti_soil,gti_monthly,sensor_cleaning
time,,,,,,,,,,,,,
2019-04-12 00:01:00,0.0,0.0,0.0,15.598166,97.782997,811.291992,0.0,1.251317,243.790543,0.0,0.0,0.0,0.0
2019-04-12 00:02:00,0.0,0.0,0.0,15.573500,97.705002,811.211609,0.0,1.101517,243.470978,0.0,0.0,0.0,0.0
2019-04-12 00:03:00,0.0,0.0,0.0,15.566666,97.707001,811.216919,0.0,0.602717,231.842773,0.0,0.0,0.0,0.0
2019-04-12 00:04:00,0.0,0.0,0.0,15.556666,97.619003,811.210022,0.0,1.107400,252.289948,0.0,0.0,0.0,0.0
2019-04-12 00:05:00,0.0,0.0,0.0,15.532499,97.594002,811.212647,0.0,0.540367,231.998215,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-04-12 23:55:00,0.0,0.0,0.0,16.480665,95.468002,811.291809,0.0,2.260333,267.461243,0.0,0.0,0.0,0.0
2019-04-12 23:56:00,0.0,0.0,0.0,16.467333,95.230003,811.272644,0.0,2.513667,258.307098,0.0,0.0,0.0,0.0
2019-04-12 23:57:00,0.0,0.0,0.0,16.447332,95.094002,811.263000,0.0,2.193667,256.243042,0.0,0.0,0.0,0.0
2019-04-12 23:58:00,0.0,0.0,0.0,16.432333,95.198998,811.236145,0.0,2.220333,257.354492,0.0,0.0,0.0,0.0
2019-04-12 23:59:00,0.0,0.0,0.0,16.418999,95.293999,811.243286,0.0,2.047000,255.351746,0.0,0.0,0.0,0.0